html, body {
    font-family: Georgia, Times, "Times New Roman", serif;
    color: #777777;
    font-size: 16px;
    line-height: 25px;
    height: 100%;
    /* width: 100%; */
}



@media only screen and (max-width: 576px) {
  #header {width: 100%;}
  #content-main {width: 95%;
    max-width: 28rem;
    margin-left: 4%}
}

@media only screen and (min-width: 576px) {
  #header {width: 95%;}
  #content-main {width: 95%;
    max-width: 33rem;
    margin-left: 2.5%}


}
@media only screen and (min-width: 960px) {
  #header {width: 90%;}
  #content-main {width: 90%;
    max-width: 40rem;
    margin-left: 5%}

}







h3 {
 
  font-weight: 700;
  color: #4aaaa5;
  border-bottom: 3px solid #dddddd;
}



#name-tag {
    float: left;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    background: #4aaaa5;
  }

.nav-item {
  border-left: 1px solid #efefef;
}

.nav-item:first-child {
  border-left: 0 none;
}

#page-content {
    flex: 1 0 auto;
    background-image: url("../images/dark_embroidery.png");

}

#sticky-footer {
    border-top: 8px solid #4aaaa5;  
    flex-shrink: none;
    font-size: 12px;
}
